<html>
  <head>
    <title>Yenly's Blog</title>
  </head>
  <body>
    <div>
      <h1><a href="">Yenly's Blog</a></h1>
    </div>

    <!-- <div>
      <p>published: 14.06.2014, 12:14</p>
      <h2><a href="">My first post</a></h2>
      <p>Literally tbh keytar subway tile pickled, narwhal schlitz.</p>
    </div>

    <div>
      <p>published: 14.06.2014, 12:14</p>
      <h2><a href="">My second post</a></h2>
      <p>Literally tbh keytar subway tile pickled, narwhal schlitz.</p>
    </div> -->
    {% for post in posts %}
      <div>
        <p>published: {{ post.published_date }}</p>
        <h2><a href="">{{ post.title }}</a></h2>
        <p>{{ post.text|linebreaksbr }}</p>
      </div>
      {{ post }}
    {% endfor %}

  </body>
</html>
